# mac shit
.DS_Store

# nyc test coverage
.nyc_output

# Dependency directories
node_modules/

# Optional npm cache directory
.npm
npm-debug.log

# Optional eslint cache
.eslintcache

# vscode
/.vscode
*.pid
